{% capture content %}

  <h2 class="center">Latest work</h2>

  <ul class="grid_container clearfix">
    {% for post in site.pages['work'].posts limit:4 %}
      <li class="grid grid_3">
        <a href="{{post.url}}" class="thumb_link block">
          {% for asset in post.assets %}
          {% if asset.meta.type == "header" %}
            <div class="background_cover" style="background-image: url('{{asset.url}}');"></div>
          {% endif %}
          {% endfor %}
          <h4>{{post.title}}</h4>
        </a>
      </li>
    {% endfor %}
  </ul>

  <hr>

  <h2 class="center">Latest notes</h2>

  <ul>
    {% for post in site.pages.notes.posts limit:3 %}
      {% include 'includes/post_mini' %}
    {% endfor %}
  </ul>


{% endcapture %}

{% include 'layouts/default' %}
