{% capture content %}

    <h2 class="mb-sm-4">Latest work</h2>

    <div class="col-group">
        {% for post in site.pages['work'].posts limit:4 %}
            <div class="col col-sm-12 mb-sm-3">
                <a href="{{post.url}}" class="link-gray">
                    <h3 class="mt-sm-0 mb-sm-1">{{post.title}}</h3>
                    <p class="mb-sm-2">{{post.meta['description']}}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-sm-4">Latest notes</h2>

    <div class="col-group">
        {% for post in site.pages.notes.posts limit:2 %}
            <div class="col col-sm-12 mb-sm-3 pr-md-4">
                {% include 'includes/post_mini' %}
            </div>
        {% endfor %}
    </div>


{% endcapture %}

{% include 'layouts/default' %}
