
// Breakpoints

$break-sm: 500px; // 0 to 499
$break-md: 900px; // 500 to 899
$break-lg: 1200px; // 900 to 1199


// Color

$white: #ffffff;
$black: #000000;

$gray-text: #263C32;
$gray-light: #65746D;

$beige: #F9F5F1;

$blue: #30DFEA;
$blue-dark: #0074A1;
$yellow: #ECFE1B;
$red: #FC0D3C;


// Spacing

$space: 0.5rem;


// Typography

$merriweather: "merriweather-1","merriweather-2", Georgia, Times New Roman, serif;

$source-code: "source-code-pro-1","source-code-pro-2", Courier New, monospace;
