
// Breakpoints

$break-sm: 500px; // 0 to 499
$break-md: 900px; // 500 to 899
$break-lg: 1200px; // 900 to 1199


// Color

$white: #ffffff;
$black: #000000;

$gray-text: #333333;
$gray: #2d2d2d;
$gray-light: #adadad;
$gray-lightest: #edf0ef;

$green: #07e4b3;
$blue: #097db9;
$blue-dark: #0f2557;
$yellow: #c5ff13;
$red: #ff1329;
$purple: #b03ecc;


// Spacing

$space: 0.5rem;


// Typography

$merriweather: "merriweather-1","merriweather-2", Georgia, Times New Roman, serif;

$source-code: "source-code-pro-1","source-code-pro-2", Courier New, monospace;
