//////////////////////////
//
//  Variables
// 
//  - Breakpoints
//  - Color
//  - Spacing
//  - Typography
//
//////////////////////////


// Breakpoints

$breakpoint-sm: 500px;
$breakpoint-md: 800px;
$breakpoint-lg: 1240px; // old 1100


// Color

$color-white: #ffffff;
$color-black: #222222;
$color-transparent: transparent;

$color-gray-dark: #5D5D5D;
$color-gray-dark-overlay: rgba(0,0,0, 0.6);

$color-beige: #F1EAEA;

$color-lilac: #EDA2FF;
$color-lilac-dark: #BB2EDF; // text

$color-blue: #CF2222;



// Spacing

$spacer-0: 0;
$spacer-1: 4px;
$spacer-2: $spacer-1 * 2; // 8
$spacer-3: $spacer-2 * 2; 
$spacer-4: $spacer-2 * 4;
$spacer-5: $spacer-2 * 6;
$spacer-6: $spacer-2 * 8;
$spacer-7: $spacer-2 * 10;
$spacer-8: $spacer-2 * 12;


// Typography

$font-family-body: "DM Sans", sans-serif;
$font-family-accent: "DM Mono", Courier New, monospace;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;


$font-size-mobile: 18px;
$font-size-desktop: 20px;

$font-size-body-medium: 1em; // 20
$font-size-body-reading: $font-size-body-medium * 1.1; // 22
$font-size-body-large: $font-size-body-medium * 1.2; // 24
$font-size-body-small: $font-size-body-medium * 0.8; // 16
$font-size-label: $font-size-body-medium * 0.7; // 14
$font-size-header-small: $font-size-body-medium * 1; // 20
$font-size-header-medium: $font-size-body-medium * 1.2; // 24
$font-size-header-large: $font-size-body-medium * 1.8; // 36

$line-height-normal: 1.2;
$line-height-loose: 1.6;
$line-height-tight: 1;


// Borders

$border-radius-rounded: 6px;
$border-radius-button: 6px;
$border-radius-circle: 50%;

$border-width-thin: 1px;
$border-width-thick: 2px;


// Animation

$transition-hover-timing: 100ms;
$transition-hover-easing: ease-in;
