<div class="jh-p-t-5 jh-p-b-5 jh-p-t-md-6 jh-p-b-md-6 jh-p-t-lg-7 jh-p-b-lg-7 jh-m-t-5 jh-m-t-md-6 jh-m-t-lg-7">
    <div class="jh-grid jh-max-width-lg jh-m-l-lg-auto jh-m-r-lg-auto jh-p-l-4 jh-p-r-4 jh-p-l-sm-5 jh-p-r-sm-5 jh-p-l-md-6 jh-p-r-md-6 jh-p-l-lg-7 jh-p-r-lg-7">
        <div class="jh-grid__col--md--6">
            <p class="jh-body-accent jh-text-uppercase jh-m-b-3">Built by Jessica Harllee 2024 ✌️</p>
        </div>
        <div class="jh-grid__col--md--6">
            <ul class="jh-list--unstyled jh-list--inline jh-flex-wrap-wrap jh-flex-justify-content-md-flex-end jh-body-accent jh-text-uppercase">
                <li class="jh-m-r-3">
                    <a href="https://www.linkedin.com/in/jessica-harllee/" class="jh-link-black">LinkedIn</a>
                </li>
                <li class="jh-m-r-3">
                    <a href="http://etsy.com/people/harllee" class="jh-link-black">Etsy</a>
                </li>
                <li class="jh-m-r-3">
                    <a href="http://instagram.com/harllee" class="jh-link-black">Instagram</a>
                </li>
                <li class="jh-m-r-3">
                    <a href="https://open.spotify.com/user/jessicaharllee" class="jh-link-black">Spotify</a>
                </li>
                <li>
                    <a href="http://jessicaharllee.com/feed.xml" class="jh-link-black">RSS</a>
                </li>
            </ul>
        </div>
    </div>
</div>
