<div class="bg-red mt-sm-4 pt-sm-4 pb-sm-4 pt-lg-5 pb-lg-5">
    <div class="container col-group pl-sm-2 pl-md-4 pr-sm-2 pr-md-4">
        <div class="col col-sm-12 col-lg-8">
            <p class="text-white mb-sm-3">Jessica Harllee is a principal product designer at Primary in Brooklyn, an avid crafter, and an amateur writer.</p>

            <ol class="list-unstyled mt-sm-2 text-small">
                <li class="display-inline-block mr-sm-2">
                    <a href="http://twitter.com/harllee" class="link-white">Twitter</a>
                </li>
                <li class="display-inline-block mr-sm-2">
                    <a href="http://etsy.com/people/harllee" class="link-white">Etsy</a>
                </li>
                <li class="display-inline-block mr-sm-2">
                    <a href="http://instagram.com/harllee" class="link-white">Instagram</a>
                </li>
                <li class="display-inline-block">
                    <a href="https://open.spotify.com/user/jessicaharllee" class="link-white">Spotify</a>
                </li>
            </ol>
        </div>
    </div>
</div>