<div class="jh-bg-red jh-p-t-5 jh-p-b-5 jh-p-t-md-6 jh-p-b-md-6 jh-p-t-lg-7 jh-p-b-lg-7 jh-m-t-5 jh-m-t-md-6 jh-m-t-lg-7">
    <div class="jh-grid jh-max-width-lg jh-m-l-lg-auto jh-m-r-lg-auto jh-p-l-4 jh-p-r-4 jh-p-l-sm-5 jh-p-r-sm-5 jh-p-l-md-6 jh-p-r-md-6 jh-p-l-lg-7 jh-p-r-lg-7">
        <div class="jh-grid__col--md--8 jh-grid__col--lg--7">
            <p class="jh-header-3 jh-text-white jh-m-b-3">Jessica Harllee is a staff product designer in Brooklyn, an avid crafter, and an amateur writer.</p>

            <ul class="jh-list--unstyled jh-list--inline jh-flex-wrap-wrap jh-body-accent">
                <li class="jh-m-r-3">
                    <a href="https://www.linkedin.com/in/jessica-harllee/" class="jh-link-white">LinkedIn</a>
                </li>
                <li class="jh-m-r-3">
                    <a href="http://twitter.com/harllee" class="jh-link-white">Twitter</a>
                </li>
                <li class="jh-m-r-3">
                    <a href="http://etsy.com/people/harllee" class="jh-link-white">Etsy</a>
                </li>
                <li class="jh-m-r-3">
                    <a href="http://instagram.com/harllee" class="jh-link-white">Instagram</a>
                </li>
                <li class="jh-m-r-3">
                    <a href="https://open.spotify.com/user/jessicaharllee" class="jh-link-white">Spotify</a>
                </li>
                <li>
                    <a href="http://jessicaharllee.com/feed.xml" class="jh-link-white">RSS</a>
                </li>
            </ol>
        </div>
    </div>
</div>
