<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% if page.alias %}
        <title>Notes tagged {{page.alias}} | {{site.title}}</title>
        <meta property="og:title" content="Notes tagged {{page.alias}} | {{site.title}}">
        <meta name="twitter:title" content="Notes tagged {{page.alias}} | {{site.title}}">
    {% elsif page.url == '/' %}
        <title>{{site.title}} | Principal product designer in Brooklyn, New York</title>
        <meta property="og:title" content="{{site.title}} | Principal product designer in Brooklyn, New York">
        <meta name="twitter:title" content="{{site.title}} | Principal product designer in Brooklyn, New York">
    {% else %}
        <title>{{page.title}} | {{site.title}}</title>
        <meta property="og:title" content="{{page.title}} | {{site.title}}">
        <meta name="twitter:title" content="{{page.title}} | {{site.title}}">
    {% endif %}
    
    {% if page.id %}
        {% if page.url contains 'notes' %}
            <meta name="description" content="{{ page.excerpt | strip_html }}">
            <meta property="og:description" content="{{ page.excerpt | strip_html }}">
        {% elsif page.url contains 'work' %}
            <meta name="description" content="{{ page.description | strip_html }}">
            <meta property="og:description" content="{{ page.description | strip_html }}">
        {% endif %}
    {% else %}
        <meta name="description" content="The product design portfolio and blog of Jessica Harllee.">
        <meta property="og:description" content="The product design portfolio and blog of Jessica Harllee.">
    {% endif %}

    {% if page.share_image %}
        <meta property="og:image" content="https://jessicaharllee.com{{ page.share_image }}">
        <meta name="twitter:image" content="https://jessicaharllee.com{{ page.share_image }}">
    {% else %}
        <meta property="og:image" content="https://jessicaharllee.com/uploads/jessica-harllee-share.jpg">
        <meta name="twitter:image" content="https://jessicaharllee.com/uploads/jessica-harllee-share.jpg">
    {% endif %}
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@harllee">

    <link rel="alternate" type="application/rss+xml" title="Jessica Harllee's RSS feed" href="http://jessicaharllee.com/feed.xml" />
    <link rel="stylesheet" type="text/css" href="/assets/base.css" />
    <link rel="icon" href="https://jessicaharllee.com/favicon.ico" type="image/x-icon" />
    
    <script type="text/javascript" src="//use.typekit.net/rjw6ujq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22573894-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
