<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content="Jessica Harllee is a Principal Product Designer at Primary in Brooklyn, New York."></head>
    <title>
        {% if page.alias %}
            {{site.title}} | Notes: {{page.alias}}
        {% else %}
            {{site.title}} | {{page.title}}
        {% endif %}
    </title>
    <link rel="alternate" type="application/rss+xml" title="jessicaharllee.com RSS feed" href="http://jessicaharllee.com/feed.xml" />
    <link rel="stylesheet" type="text/css" href="/assets/base.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="//use.typekit.net/rjw6ujq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22573894-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>