{% assign post = include.post %}

{% if post.company %}
	<p class="jh-m-b-3"><a class="jh-body-accent jh-link-gray-light" href="/work">{{post.company}}</a></p>
{% endif %}
<h1 class="jh-header-1 jh-m-b-5">{{post.title}}</h1>
<div class="jh-text-cms jh-m-b-3">
  {{ post.content | markdownify }}
</div>
{% if page.url contains '/notes/' %}
	{% if post.date %}
		<div class="jh-m-t-5 jh-m-b-5">
		    <p class="jh-body-accent jh-text-gray-light">Posted {{ post.date | date: site.date_format }}</p>
		</div>
	{% endif %}
{% endif %}
<div class="jh-m-t-5 jh-m-b-5">
    <ul class="jh-list--unstyled jh-list--inline jh-flex-wrap-wrap jh-m-t-2">
        {% for tag in post.tags %}
            <li class="jh-m-r-2 jh-m-b-2">
                <a class="jh-button jh-button--small jh-button--blue" href="/notes/tags/{{ tag | slugify }}">{{tag}}</a>
            </li>
        {% endfor %}
    </ul>
</div>
