//////////////////////////
//
//  Buttons
//
//  - Sizes
//  - Themes
//
//////////////////////////


.jh-button {
    border-style: solid;
    border-color: $color-transparent;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: all $transition-hover-timing $transition-hover-easing;
}

//////////////////////////


// Button sizes

.jh-button--regular {
    border-radius: $border-radius-button;
    border-width: $border-width-thick;
    font-size: $font-size-body-medium;
    font-weight: $font-weight-regular;
    padding: $spacer-3 $spacer-4;
}

.jh-button--small {
    border-radius: $border-radius-button;
    border-width: $border-width-thick;
    font-family: $font-family-accent;
    font-size: $font-size-body-small;
    font-weight: $font-weight-regular;
    padding: $spacer-2 $spacer-3;
}

//////////////////////////



// Button themes

.jh-button--black {
    background-color: $color-black;
    color: $color-white;

    &:hover {
        color: $color-white;
        background-color: $color-blue-dark;
    }

    &:focus {
        border-color: $color-blue;
        outline: 0;
    }

    &:disabled {
        opacity: 0.5;
    }
}


.jh-button--blue {
    background-color: $color-blue;
    color: $color-black;

    &:hover {
        color: $color-white;
        background-color: $color-black;
    }

    &:focus {
        border-color: $color-blue-dark;
        outline: 0;
    }

    &:disabled {
        opacity: 0.5;
    }
}
