// Buttons

.btn {
    border-radius: 64px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    padding: $space*2 $space*3;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: all 100ms ease-in;
}



// Button themes


.btn-black {
    background-color: $black;
    color: $white;

    &:hover {
        color: $white;
        background-color: $blue-dark;
    }

    &:focus {
        border-color: $blue;
        outline: 0;
    }
}


.btn-blue {
    background-color: $blue-dark;
    color: $white;

    &:hover {
        color: $white;
        background-color: darken($blue, 5%);
    }

    &:focus {
        border-color: $blue;
        outline: 0;
    }
}