//////////////////////////
//
//  Buttons
//
//  - Sizes
//  - Themes
//
//////////////////////////


.jh-button {
    border-style: solid;
    border-color: $color-transparent;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: all $transition-hover-timing $transition-hover-easing;
}

//////////////////////////


// Button sizes

.jh-button--regular {
    border-radius: $border-radius-button;
    border-width: $border-width-thick;
    font-size: $font-size-body-medium;
    font-weight: $font-weight-regular;
    padding: $spacer-3 $spacer-4;
}

.jh-button--small {
    border-radius: $border-radius-button;
    border-width: $border-width-thick;
    font-family: $font-family-accent;
    font-size: $font-size-body-small;
    font-weight: $font-weight-regular;
    padding: $spacer-2 $spacer-3;
    text-transform: uppercase;
}

//////////////////////////



// Button themes

.jh-button--black {
    background-color: $color-black;
    color: $color-white;

    &:hover {
        color: $color-white;
        background-color: $color-blue;
    }

    &:focus {
        border-color: $color-blue;
        outline: 0;
    }

    &:disabled {
        opacity: 0.5;
    }
}


.jh-button--lilac {
    background-color: $color-lilac;
    color: $color-black;

    &:hover {
        color: $color-white;
        background-color: $color-lilac-dark;
    }

    &:focus {
        border-color: $color-blue;
        outline: 0;
    }

    &:disabled {
        opacity: 0.5;
    }
}


//////////////////////////


// Link styles


.jh-link-arrow {

    span {
        text-decoration: underline;
    }

    &:after {
        content: ' →';
        font-family: $font-family-body;
        font-size: $font-size-body-medium;
        font-weight: $font-weight-regular;
        line-height: $line-height-tight;
        margin-left: $spacer-1;
        transition: margin-left $transition-hover-timing $transition-hover-easing;
    }

    &:hover:after {
        margin-left: $spacer-2;
    }
}

.jh-link-wavy {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: from-font;
    transition: text-decoration-style $transition-hover-timing $transition-hover-easing;

    &:hover {
        text-decoration-style: wavy;
    }
}
