

// Text colors

.text-white {
    color: $white;
}

.text-black {
    color: $black;
}

.text-gray {
    color: $gray-text;
}

.text-gray-light {
    color: $gray-light;
}

.text-blue {
    color: $blue;
}

.text-blue-dark {
    color: $blue-dark;
}

.text-yellow {
    color: $yellow;
}

.text-red {
    color: $red;
}



// Background colors

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-beige {
    background-color: $beige;
}

.bg-blue {
    background-color: $blue;
}

.bg-blue-dark {
    background-color: $blue-dark;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-red {
    background-color: $red;
}


// Link colors

.link-white {
    color: $white;
    transition: all 100ms ease-in;

    &:hover {
        color: $gray-text;
    }
}

.link-gray-text {
    color: $gray-text;
    transition: all 100ms ease-in;

    &:hover {
        color: $blue-dark;
    }
}

.link-gray-light {
    color: $gray-light;
    transition: all 100ms ease-in;

    &:hover {
        color: darken($gray-light, 8%);
    }
}

.link-blue-dark {
    color: $blue-dark;
    transition: all 100ms ease-in;

    &:hover {
        color: $blue;
    }
}


// Border colors

.b-white {
    border-color: $white;
}

.b-black {
    border-color: $black;
}

.b-gray-light {
    border-color: lighten($gray-light, 40%);
}

.b-blue {
    border-color: $blue;
}

.b-blue-dark {
    border-color: $blue-dark;
}

.b-yellow {
    border-color: $yellow;
}

.b-red {
    border-color: $red;
}
