//////////////////////////
//
//  Grid
//
//////////////////////////


.jh-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

[class^="jh-grid__col"] {
	grid-column: span 12;
}

.jh-grid__col--1 { grid-column: span 1; }
.jh-grid__col--2 { grid-column: span 2; }
.jh-grid__col--3 { grid-column: span 3; }
.jh-grid__col--4 { grid-column: span 4; }
.jh-grid__col--5 { grid-column: span 5; }
.jh-grid__col--6 { grid-column: span 6; }
.jh-grid__col--7 { grid-column: span 7; }
.jh-grid__col--8 { grid-column: span 8; }
.jh-grid__col--9 { grid-column: span 9; }
.jh-grid__col--10 { grid-column: span 10; }
.jh-grid__col--11 { grid-column: span 11; }
.jh-grid__col--12 { grid-column: span 12; }


@include breakpoint-sm-up {
	.jh-grid__col--sm--1 { grid-column: span 1; }
	.jh-grid__col--sm--2 { grid-column: span 2; }
	.jh-grid__col--sm--3 { grid-column: span 3; }
	.jh-grid__col--sm--4 { grid-column: span 4; }
	.jh-grid__col--sm--5 { grid-column: span 5; }
	.jh-grid__col--sm--6 { grid-column: span 6; }
	.jh-grid__col--sm--7 { grid-column: span 7; }
	.jh-grid__col--sm--8 { grid-column: span 8; }
	.jh-grid__col--sm--9 { grid-column: span 9; }
	.jh-grid__col--sm--10 { grid-column: span 10; }
	.jh-grid__col--sm--11 { grid-column: span 11; }
	.jh-grid__col--sm--12 { grid-column: span 12; }
}

@include breakpoint-md-up {
	.jh-grid__col--md--1 { grid-column: span 1; }
	.jh-grid__col--md--2 { grid-column: span 2; }
	.jh-grid__col--md--3 { grid-column: span 3; }
	.jh-grid__col--md--4 { grid-column: span 4; }
	.jh-grid__col--md--5 { grid-column: span 5; }
	.jh-grid__col--md--6 { grid-column: span 6; }
	.jh-grid__col--md--7 { grid-column: span 7; }
	.jh-grid__col--md--8 { grid-column: span 8; }
	.jh-grid__col--md--9 { grid-column: span 9; }
	.jh-grid__col--md--10 { grid-column: span 10; }
	.jh-grid__col--md--11 { grid-column: span 11; }
	.jh-grid__col--md--12 { grid-column: span 12; }
}

@include breakpoint-lg-up {
	.jh-grid__col--lg--1 { grid-column: span 1; }
	.jh-grid__col--lg--2 { grid-column: span 2; }
	.jh-grid__col--lg--3 { grid-column: span 3; }
	.jh-grid__col--lg--4 { grid-column: span 4; }
	.jh-grid__col--lg--5 { grid-column: span 5; }
	.jh-grid__col--lg--6 { grid-column: span 6; }
	.jh-grid__col--lg--7 { grid-column: span 7; }
	.jh-grid__col--lg--8 { grid-column: span 8; }
	.jh-grid__col--lg--9 { grid-column: span 9; }
	.jh-grid__col--lg--10 { grid-column: span 10; }
	.jh-grid__col--lg--11 { grid-column: span 11; }
	.jh-grid__col--lg--12 { grid-column: span 12; }
}



//////////////////////////


// Gutters

.jh-grid--gutters--small {
	grid-column-gap: $spacer-2;
}

.jh-grid--gutters--large {
	grid-column-gap: $spacer-4;
}
