// Some resets

body {
    margin: 0;
    padding: 0;
}


// Make everything size to border-box

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


// Floats

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}


// Display

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.vertical-align-middle {
    vertical-align: middle;
}


// Responsive display

@include breakpoint(sm-only) {
    .hide-sm {
        display: none;
    }
}

@include breakpoint(md-only) {
    .hide-md {
        display: none;
    }
}

@include breakpoint(lg-up) {
    .hide-lg {
        display: none;
    }
}



// Positioning

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.position-top {
    top: 0;
}

.position-right {
    right: 0;
}

.position-bottom {
    bottom: 0;
}

.position-left {
    left: 0;
}

.position-overlap {
    bottom: -0.5em;
}


// Heights

.height-100 {
    height: 100%;
}

.height-16m {
    height: 16em;
}

.height-header {
    height: 14em;

    @include breakpoint(md-only) {
        height: 16em;
    }

    @include breakpoint(lg-up) {
        height: 20em;
    }
}


// Widths

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}


// Borders

hr {
    height: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top-width: 1px;
    border-top-style: solid;
    width: 25%;
    border-color: $gray-light;
    margin-top: $space * 6;
    margin-bottom: $space * 6;
}

.b-1 {
    border-width: 1px;
    border-style: solid;
}

.bt-1 {
    border-top-width: 1px;
    border-top-style: solid;
}

.br-1 {
    border-right-width: 1px;
    border-bottom-style: solid;
}

.bb-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.bl-1 {
    border-left-width: 1px;
    border-bottom-style: solid;
}


.b-2 {
    border-width: 2px;
    border-style: solid;
}

.bt-2 {
    border-top-width: 2px;
    border-top-style: solid;
}

.br-2 {
    border-right-width: 2px;
    border-bottom-style: solid;
}

.bb-2 {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.bl-2 {
    border-left-width: 2px;
    border-bottom-style: solid;
}


.b-3 {
    border-width: 3px;
    border-style: solid;
}

.bt-3 {
    border-top-width: 3px;
    border-top-style: solid;
}

.br-3 {
    border-right-width: 3px;
    border-bottom-style: solid;
}

.bb-3 {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.bl-3 {
    border-left-width: 3px;
    border-bottom-style: solid;
}

