//////////////////////////
//
//  Typography
// 
//  - Headers
//  - Body
//  - Utilities
//
//////////////////////////


// Headers

.jh-header-1 {
    font-family: $font-family-body;
    font-size: $font-size-header-large;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
}

.jh-header-2 {
    font-family: $font-family-body;
    font-size: $font-size-header-medium;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
}

.jh-header-3 {
    font-family: $font-family-body;
    font-size: $font-size-header-small;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
}

.jh-header-4 {
    font-family: $font-family-body;
    font-size: $font-size-body-small;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
}


//////////////////////////


// Body

.jh-body-large {
    font-family: $font-family-body;
    font-size: $font-size-header-large;
    font-weight: $font-weight-regular;
    line-height: $line-height-normal;
}

.jh-body-medium {
    font-family: $font-family-body;
    font-size: $font-size-body-medium;
    font-weight: $font-weight-regular;
    line-height: $line-height-normal;
}

.jh-body-small {
    font-family: $font-family-body;
    font-size: $font-size-body-small;
    font-weight: $font-weight-regular;
    line-height: $line-height-normal;
}

.jh-body-accent {
    font-family: $font-family-accent;
    font-size: $font-size-body-small;
    font-weight: $font-weight-light;
    line-height: $line-height-normal;
}



//////////////////////////


// Utilities


// Font weight
.jh-font-weight-regular { font-weight: $font-weight-regular; }
.jh-font-weight-bold { font-weight: $font-weight-bold; }

// Text transform
.jh-text-uppercase { text-transform: uppercase;}

// Line height
.jh-line-height-normal { line-height: $line-height-normal; }
.jh-line-height-loose { line-height: $line-height-loose; }
.jh-line-height-tight { line-height: $line-height-tight; }


// Text alignment

.jh-text-left { text-align: left; }
.jh-text-center { text-align: center; }
.jh-text-right { text-align: right; }

@include breakpoint-sm-up {
    .jh-text-sm-left { text-align: left; }
    .jh-text-sm-center { text-align: center; }
    .jh-text-sm-right { text-align: right; }
}

@include breakpoint-md-up {
    .jh-text-md-left { text-align: left; }
    .jh-text-md-center { text-align: center; }
    .jh-text-md-right { text-align: right; }
}

@include breakpoint-lg-up {
    .jh-text-lg-left { text-align: left; }
    .jh-text-lg-center { text-align: center; }
    .jh-text-lg-right { text-align: right; }
}
