@charset "UTF-8";
/* CSS Document */

body {
font-family:helvetica,arial,sans-serif;
font-size:12px;
line-height:1.2em;
color:#444;
}

#header{
position:absolute;
top:20px;
left:50px;
height:20px;
font-size:20px;
letter-spacing:-.05em;
text-transform:uppercase;
}

a.jh:link{
color:#000;
text-decoration:none;
font-weight:bold;
}

a.jh:hover{
font-weight:bold;
color:#666666;
text-decoration:none;
}

a.jh:visited{
font-weight:bold;
color:#000;
text-decoration:none;
}

a.jh:visited:hover{
font-weight:bold;
color:#666;
text-decoration:none;
}

#sidebar{
position:absolute;
top:50px;
left:50px;
width:150px;
line-height:1.5em;
border-top: 2px solid black;
padding-top: .2em;
}

.sidebar-item{
margin-bottom:2em;
padding-top:.2em;
border-top: 1px dotted black;
}

#nav{
list-style-type:none;
margin-left:-40px;
line-height:1.7em;
}

a.nav:link{
color:#000000;
font-weight:bold;
text-transform:uppercase;
border-bottom:1px;
}

a.nav:hover{
color:#666;
font-weight:bold;
text-transform:uppercase;
text-decoration:none;
}

.current{
color:#000;
font-weight:bold;
text-transform:uppercase;
}

#nav-portfolio{
list-style-type:none;
margin-left:-30px;
}

#content{
position:absolute;
top:50px;
left:225px;
width:600px;
}

.toplink{
width:100%;
text-align:right;
margin:1em 0;
}

.content-item{
margin-bottom:2em;
padding-top:.2em;
border-top: 2px solid black;
}

.content-header{
font-size:16px;
font-weight:bold;
letter-spacing:-.1em;
text-transform:uppercase;
color:#333;
border-top: 1px dotted black;
padding-top:1em;
margin-bottom:.5em;
}

a:link{
color:#000;
border-bottom:1px;
}

a:hover{
color:#666666;
text-decoration:none;
}

a:visited{
color:#000;
border-bottom:1px;
}

a:visited:hover{
color:#666;
text-decoration:none;
}