@charset "UTF-8";
/* CSS Document */

body {
font-family:helvetica,arial,sans-serif;
font-size:12px;
line-height:1.2em;
color:#444;
}

h1{
font-size:16px;
font-weight:bold;
letter-spacing:-.1em;
text-transform:uppercase;
color:#333;
}

h2{
font-size:12px;
line-height:1em;
font-weight:bold;
color:#333;
}

h3{
font-size:12px;
line-height:1em;
font-weight:normal;
font-style:italic;
color:#666;
}

#header{
position:absolute;
top:20px;
left:50px;
height:20px;
font-size:20px;
letter-spacing:-.05em;
text-transform:uppercase;
color:#CCCCCC;
}

#sidebar{
position:absolute;
top:50px;
left:50px;
width:150px;
line-height:1.5em;
border-top: 2px solid black;
padding-top: .2em;
}

.sidebar-item{
margin-bottom:2em;
padding-top:.2em;
border-top: 1px dotted black;
}

#nav{
list-style-type:none;
margin-left:-40px;
line-height:1.7em;
}

#nav-portfolio{
list-style-type:none;
margin-left:-30px;
}

#content{
position:absolute;
top:50px;
left:225px;
width:600px;
}

.content-item{
margin-bottom:2em;
padding-top:.2em;
border-top: 2px solid black;
}

.content-header{
font-size:16px;
font-weight:bold;
letter-spacing:-.1em;
text-transform:uppercase;
color:#333;
border-top: 1px dotted black;
padding-top:1em;
margin-bottom:.5em;
}

.indent{
margin-left:2em;
}

img{padding-bottom:3px; border:0;}

.resumeitem{
list-style-type:none;
margin-left:-38px;
}

.resumejobtitle{
font-size:12px;
font-weight:bold;
color:#333;
}

.resumejobinfo{
font-size:12px;
font-weight:normal;
font-style:italic;
color:#666;
}