@charset "UTF-8";
/* CSS Document */


/* general links */

.toplink{
width:100%;
text-align:right;
margin:1em 0;
}

a:link{
color:#000;
border-bottom:1px;
}

a:hover{
color:#666666;
text-decoration:none;
}

a:visited{
color:#000;
border-bottom:1px;
}

a:visited:hover{
color:#666;
text-decoration:none;
}

/* jh.com header */

a.jh:link{
color:#000;
text-decoration:none;
font-weight:bold;
}

a.jh:hover{
font-weight:bold;
color:#666666;
text-decoration:none;
}

a.jh:visited{
font-weight:bold;
color:#000;
text-decoration:none;
}

a.jh:visited:hover{
font-weight:bold;
color:#666;
text-decoration:none;
}

/* navigation links */

a.nav:link{
color:#000000;
font-weight:bold;
text-transform:uppercase;
border-bottom:1px;
}

a.nav:hover{
color:#666;
font-weight:bold;
text-transform:uppercase;
text-decoration:none;
}

a.nav:visited{
color:#000000;
font-weight:bold;
text-transform:uppercase;
border-bottom:1px;
}

a.nav:visited:hover{
color:#666;
font-weight:bold;
text-transform:uppercase;
text-decoration:none;
}

.current{
color:#666;
font-weight:bold;
text-transform:uppercase;
}