// An image wrapper that makes the image appear contained in a browser window

.browser_wrapper
  margin: 2em 0
  padding-top: 1.5em
  background: $grey-dark
  border: 2px solid $grey-dark
  border-radius: $radius
  width: 100%
  position: relative
  
  &:before
    content: '...'
    position: absolute
    top: -0.7em
    left: 0.25em
    font-size: 2em
    color: $white

  .image_wrapper
    height: 20em
    overflow-y: scroll
    background-color: $white
    border-bottom-left-radius: $radius/2
    border-bottom-right-radius: $radius/2
  
  img
    display: block
    margin: 0
    border-bottom-left-radius: $radius/2
    border-bottom-right-radius: $radius/2

  // Make the scrollbar appear by default
  ::-webkit-scrollbar
    -webkit-appearance: none
    width: .5em
  ::-webkit-scrollbar-thumb
    background-color: rgba($grey, 0.5)
    border-radius: .4em
  ::-webkit-scrollbar-track-piece
    background-color: rgba($grey-lightest, 0.5)
  
  // On mobile, show the whole image
  @media only screen and (max-width: $break-small)
    padding-top: 1.1em
    margin: 1em 0
    
    &:before
      top: -0.8em
    
    .image_wrapper
      overflow: visible
      height: auto
