$rooney: "rooney-web-1","rooney-web-2", Georgia, Times New Roman, serif

$proxima-nova: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif

$source-code: "source-code-pro-1","source-code-pro-2", Courier New, monospace


.proxima
  font-family: $proxima-nova
