// Apply .grid to anything being treated as part of the grid


.grid_container
  @media only screen and (min-width: $break-small)
    margin-left: -1%
    margin-right: -1%

.grid
  @media only screen and (min-width: $break-small)
    display: inline
    float: left
    margin-left: 1%
    margin-right: 1%
.grid:last-child
  margin-right: 0


.grid_1
  @media only screen and (min-width: $break-small)
    width: 15%
.grid_2
  @media only screen and (min-width: $break-small)
    width: 31%
.grid_3
  @media only screen and (min-width: $break-small)
    width: 48%
.grid_4
  @media only screen and (min-width: $break-small)
    width: 66%
.grid_5
  @media only screen and (min-width: $break-small)
    width: 82%
.grid_6
  @media only screen and (min-width: $break-small)
    width: 100%


.grid_last
  margin-right: 0
