
// Thumbnail image

.thumb
  width: 144px
  height: 144px
  overflow: hidden
  display: block
  border-radius: 3px
  img
    display: block
    height: 144px
    width: auto
    margin: 0
    margin-left: -20px

.ss-icon
  line-height: 1em
