// Lists

ul
  list-style-type: none
  margin: 0
  padding: 0
  li
    margin: 0
    padding: 0


.list_horizontal
  overflow: hidden
  li
    display: inline-block


// Definition list

dl
  font-size: 80%
  line-height: 1.2em
  margin: 2em 0
  @media (max-width: $break-small)
    font-size: 100%
  dt
    font-weight: bold
    width: 19%
    min-width: 3em
    display: inline-block
    vertical-align: top
    margin: 0 0 0.5em 0
    @media (max-width: $break-small)
      width: 100%
  dd
    margin: 0 0 1em 0
    width: 80%
    display: inline-block
    @media (max-width: $break-small)
      width: 100%

.dl_small
  dt,dd
    width: 49%
