// Site navigation

// Todo: break this up into more oocssy things

.nav
  // display: inline
  
  a
    // display: block
    // line-height: 1.25em
    // -webkit-font-smoothing: antialiased
    // &.selected
    //   color: $red
    //   font-weight: 600
    // &.cart
    //   color: $grey-dark
    //   span
    //     font-size: 1.2em
    //     vertical-align: -3px
    //   &:hover
    //     color: $red
  
@media (max-width: $break-small)
  .nav
    float: none
    display: block
    margin: 1em auto
    text-align: center
    li
      float: none
