// Text

body
  font-family: $rooney
  font-weight: 200
  font-size: $base-font-size
  line-height: 1.5
  color: $grey-dark

  @media only screen and (max-width: $break-medium)
    font-size: $base-font-size * .8333333

a
  color: $blue-dark
  text-decoration: none
  +transition(color)
  &:hover
    color: $blue

p, li
  margin-bottom: 1em

h2
  font-weight: 300
  font-size: 2em
  line-height: 1em

h3
  font-weight: 300
  font-size: 1.5em


h4
  font-weight: normal
  line-height: 1em

h5, .h6
  font-size: 18px
  line-height: 30px
  font-weight: 300

h6, .h6
  font-size: 16px
  color: $grey
  font-family: $proxima-nova
  text-transform: uppercase
  font-weight: 300
  letter-spacing: 1px

pre
  background-color: rgba($grey-lightest, 0.5)
  padding: 1em
  +vendor-prefix(white-space, pre-wrap)
  border-radius: $radius/2
  code
    color: $grey-dark

code
  font-family: $source-code
  font-size: 0.8em
  color: $red

blockquote
  margin: 1em


// Logo

.logo
  font-family: $proxima-nova
  font-size: 20px
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 2px
  -webkit-font-smoothing: antialiased
  white-space: nowrap
  @media only screen and (min-width: $break-small)
    margin: 0


// Utility

.normal
  font-weight: normal

.small_type
  font-size: 0.83333em

.big_type
  font-size: 1.5em
