@import "compass"

body
  font-family: Helvetica, Arial, sans-serif
  font-size: 20px
  line-height: 1.5

img, video, object
  max-width: 100%

article, header, nav, section
  display: block

ul
  +no-bullets

.wrap
  margin: 60px auto
  max-width: 1200px
  overflow: hidden
  width: 90%

a
  color: #0091e5
  text-decoration: none
  &.selected
    color: #000

.list_horizontal
  li
    float: left
    margin-right: 30px


@media only screen and (max-width: 1085px)
  body
    font-size: 16px
  .wrap
    margin: 15px auto
