@import "_units"
@import "_mixins"
@import "_fonts"
@import "_media"
@import "_colors"
@import "_text"
@import "_buttons"
@import "_grid"
@import "_layout"
@import "_images"
//@import "_nav"
@import "_lists"
@import "_image_header"
@import "_browser_wrapper"
@import "_flag"
@import "_media_object"

@import "_positioning"
@import "_spacing"

*
  box-sizing: border-box

figure
  margin: 0

article, header, nav, section
  display: block

hr
  margin: 2em 0
  border: 0
  height: 0
  border-top: 1px solid $grey-light


