{% capture content %}

  <ul class="grid_container clearfix">
    {% for post in posts limit:20 %}
      <li class="grid grid_3">
        <a href="{{post.url}}" class="thumb_link block">
          {% for asset in post.assets %}
          {% if asset.meta.type == "header" %}
            <div class="background_cover" style="background-image: url('{{asset.url}}');"></div>
          {% endif %}
          {% endfor %}
          <h4>{{post.title}}</h4>
        </a>
      </li>
    {% endfor %}
  </ul>

{% endcapture %}

{% include 'layouts/default' %}
