/* line 6, ../sass/base.sass */
body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Georgia, Times New Roman, serif;
  font-size: 24px;
  line-height: 1.5;
  color: #585c54;
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/base.sass */
img, video, object {
  max-width: 100%;
  margin: 1em 0;
}

/* line 18, ../sass/base.sass */
figure {
  margin: 0;
}

/* line 21, ../sass/base.sass */
article, header, nav, section {
  display: block;
}

/* line 24, ../sass/base.sass */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 11, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 29, ../sass/base.sass */
a {
  color: #f31308;
  text-decoration: none;
}
/* line 32, ../sass/base.sass */
a:hover {
  color: #585c54;
}
/* line 34, ../sass/base.sass */
a.link_dark {
  color: #585c54;
}
/* line 36, ../sass/base.sass */
a.link_dark:hover {
  color: #f31308;
}

/* line 39, ../sass/base.sass */
hr {
  margin: 4em 0;
  border: 0;
  height: 0;
  border-top: 1px solid #c6c8c5;
}

/* line 48, ../sass/base.sass */
.wrap {
  max-width: 1200px;
  width: 70%;
}

/* line 52, ../sass/base.sass */
.section {
  margin: 2em auto;
}

@media only screen and (max-width: 1000px) {
  /* line 56, ../sass/base.sass */
  body {
    font-size: 20px;
  }

  /* line 58, ../sass/base.sass */
  .wrap {
    margin: 15px auto;
  }
}
@media only screen and (max-width: 640px) {
  /* line 61, ../sass/base.sass */
  .wrap {
    width: 90%;
  }
}
/* line 67, ../sass/base.sass */
.left {
  float: left;
}

/* line 69, ../sass/base.sass */
.right {
  float: right;
}

/* line 71, ../sass/base.sass */
.clear {
  clear: both;
}

/* line 74, ../sass/base.sass */
.center {
  text-align: center;
}

/* line 77, ../sass/base.sass */
.block {
  display: block;
}

/* line 79, ../sass/base.sass */
.inline-block {
  display: inline-block;
  vertical-align: middle;
}

/* line 82, ../sass/base.sass */
.inline {
  display: inline;
}

/* line 85, ../sass/base.sass */
.list_horizontal {
  overflow: hidden;
}
/* line 87, ../sass/base.sass */
.list_horizontal li {
  float: left;
  margin: 0 30px 0 0;
  display: inline-block;
}
/* line 91, ../sass/base.sass */
.list_horizontal li:last-child {
  margin: 0;
}
/* line 93, ../sass/base.sass */
.list_horizontal li.right {
  float: right;
}

/* line 99, ../sass/base.sass */
p, li {
  margin-bottom: 1em;
}

/* line 102, ../sass/base.sass */
h2 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1em;
}

/* line 108, ../sass/base.sass */
h6 {
  font-size: 0.75em;
  color: #c6c8c5;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 114, ../sass/base.sass */
dl {
  font-size: 80%;
  line-height: 1.2em;
  margin: 2em 0;
}
@media only screen and (max-width: 640px) {
  /* line 114, ../sass/base.sass */
  dl {
    font-size: 100%;
  }
}
/* line 120, ../sass/base.sass */
dl dt {
  font-weight: bold;
  width: 19%;
  min-width: 80px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0.5em 0;
}
/* line 127, ../sass/base.sass */
dl dd {
  margin: 0 0 1em 0;
  width: 80%;
  display: inline-block;
}

/* line 136, ../sass/base.sass */
.main_nav {
  background: white;
  padding: 45px 0;
  margin: 0 auto;
  overflow: hidden;
}
/* line 141, ../sass/base.sass */
.main_nav .logo {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  display: inline;
  margin: 0;
}
/* line 150, ../sass/base.sass */
.main_nav .nav {
  display: inline;
}
/* line 152, ../sass/base.sass */
.main_nav .nav a {
  display: block;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #c6c8c5;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
/* line 162, ../sass/base.sass */
.main_nav .nav a:hover {
  color: #585c54;
}
/* line 164, ../sass/base.sass */
.main_nav .nav a.selected {
  color: #f31308;
  font-weight: 600;
}

@media only screen and (max-width: 640px) {
  /* line 168, ../sass/base.sass */
  .main_nav {
    padding: 20px 0;
  }
  /* line 170, ../sass/base.sass */
  .main_nav .logo,
  .main_nav .nav {
    float: none;
    display: block;
    margin: 1em auto;
    text-align: center;
  }
  /* line 176, ../sass/base.sass */
  .main_nav .logo li,
  .main_nav .nav li {
    float: none;
  }
}
@media only screen and (max-width: 640px) {
  /* line 183, ../sass/base.sass */
  .post_nav li {
    margin: 1em auto;
    text-align: center;
    float: none;
  }

  /* line 187, ../sass/base.sass */
  .post_nav li.right {
    display: block;
    float: none;
  }

  /* line 190, ../sass/base.sass */
  .post_nav_arrow {
    display: inline-block;
    width: 49%;
  }
}
/* line 197, ../sass/base.sass */
.image_header {
  width: 100%;
  height: 16em;
  display: table;
  color: white;
  background-color: #c6c8c5;
}
/* line 203, ../sass/base.sass */
.image_header:hover {
  color: white;
}
/* line 205, ../sass/base.sass */
.image_header h2 {
  margin: 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0 0 10px black;
}

/* line 214, ../sass/base.sass */
a.image_header:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}
