<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/_assets/stylesheets/base.css" />
  <script type="text/javascript" src="//use.typekit.net/rjw6ujq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22573894-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>

  <header class="main_nav wrap">
    <h1 class="logo left">
      <a href="/" class="link_dark">{{site.title}}</a>
    </h1>
    <ul class="nav list_horizontal right">
      {% for page in site.pages %}
        {% unless page.url == "/" %}
          <li>
            <a href="{{page.url}}"{% if page.url == parent.url or page.url == url or current.url == "/" %} class="selected"{% endif %}>
              {{page.title}}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </header>

  <section>

    {% if parent %}
      {% if parent.slug == "work" %}
        <header class="image_header" style="{% if post.assets.size > 0 %}background: url('{{post.assets[0].url}}') no-repeat center center; background-size: cover;{% endif %}">
          <h2>
            {{post.title}}
          </h2>
        </header>
      {% else %}
        <header class="section wrap">
          <h2>
            {{post.title}}
          </h2>
        </header>
      {% endif %}
    {% endif %}

    <div class="section wrap">

      {{content}}

    </div>

  </section>

  <footer class="section">
    <h6 class="center">&copy; 2013 Jessica Harllee</h6>
  </footer>

</body>
</html>

