---
layout: default
---

<h1 class="mb-sm-3">{{page.title}}</h1>

<div class="prose mb-sm-4">
	<p>Currently, I’m a Staff Product Designer at Etsy, where I focus on designing and building the core tools Etsy sellers use to manage their shops. To me, product design is about being a part of the product process from start to finish; I’m involved in concepting and defining scope all the way to pushing code.</p>
</div>

<h2 class="mb-sm-4">View select design projects</h2>


{% for company in site.data.companies %}
<div class="col-group mb-sm-4 mb-lg-5">
	<div class="col col-sm-12 col-md-4 pr-sm-2 pr-lg-4 mb-sm-2 text-center">
		<a href="{{company.url}}"><img src="{{company.logo}}" alt="{{company.name}}"></a>
		<p class="text-small">{{company.years}}</p>
	</div>
	<div class="col col-sm-12 col-md-8">
		{% for item in site.work %}
			{% if item.company == company.name %}
				<a href="{{item.url}}" class="display-block link-gray mb-sm-3 mb-lg-4">
	                <h3 class="mb-sm-0">{{item.title}}</h3>
	                <p class="text-small mt-sm-0">{{item.description}}</p>
	            </a>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% unless company.position == 2 %}
	<hr>
{% endunless %}

{% endfor %}