---
layout: default
---

<div class="jh-max-width-lg jh-m-l-lg-auto jh-m-r-lg-auto jh-p-l-4 jh-p-r-4 jh-p-l-sm-5 jh-p-r-sm-5 jh-p-l-md-6 jh-p-r-md-6 jh-p-l-lg-7 jh-p-r-lg-7 jh-m-t-4 jh-m-t-sm-5 jh-m-t-md-6">

	<h1 class="jh-header-1 jh-m-b-4">{{page.title}}</h1>

	<div class="jh-body-medium jh-line-height-loose jh-m-b-5 jh-m-b-md-6">
		<p class="jh-line-height-loose jh-m-b-3">I'm a generalist who loves every part of the process, from doing research and defining the problem all the way to writing reusable CSS and pushing code. My work has included complex tooling, addressing longstanding debt, optimizing conversion funnels, and design systems creation and adoption.</p>
        <p class="jh-line-height-loose">Learn more about my work and process through the case studies below.</p>
	</div>

	{% for company in site.data.companies %}
	<div class="jh-grid jh-m-b-4 jh-m-b-md-5">
		<div class="jh-grid__col--md--4 jh-text-center jh-m-b-4 jh-m-b-md-0 jh-p-r-md-4 jh-p-r-lg-6">
			<h3 class="jh-screenreader-only">{{company.name}}</h3>
			<a href="{{company.url}}" class="jh-d-inline-block"><img src="{{company.logo}}" alt="{{company.name}} logo" class="jh-img-logo"></a>
			<p class="jh-body-accent jh-m-t-3">{{company.years}}</p>
		</div>
		<div class="jh-grid__col--md--8 jh-m-t-md-2 jh-m-b-5">
			{% for item in site.work reversed %}
				{% if item.company == company.name %}
					{% include post_company_excerpt.html %}
				{% endif %}
			{% endfor %}
			{% if company.name == 'Kickstarter' %}
				<p>Projects include Kickstarter Year in Review 2012, tools for managing backed projects, international checkout, mobile checkout, event pages and RSVPs.</p>
			{% endif %}
			{% if company.name == 'Modea' %}
				<p>The first designer for Moveline, a two-sided marketplace connecting people moving with moving companies, accepted into TechStars New York 2012.</p>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<p class="jh-body-small jh-text-gray-dark jh-m-t-8">Case studies have been simplified and edited for public viewing.</p>
</div>